{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock head %}

{% block content %}

<div class="flex-center">
<h1>Quick <span class="blue">Fit</span></h1>
</div>

<div class="grid2x2">
    <div>
        <div>
            <h5>Todo</h5>
            <ul>
                {% for workout in workouts %}
                <li>{{ workout }} | <a href="">Mark Done</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <div>
            <ul>
                <li>Current weight: {{ weight }}</li>
                <li>Bench PR: 260</li>
                <li>Most Weight Lost per Week: 19 lb</li>
                <li>Deadlift PR: 290</li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <form action="" method="post" class="flex-column">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<div class="flex-center">
    <a href="{% url 'logout' %}" class="blue">Logout</a>
</div>

{% endblock content %}